html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #171919;
    color: white;
    text-transform: uppercase; /* Все символы текста становятся прописными (верхний регистр). задаем родителю */
    min-width: 320px;/* для того чтобы анимация не давала нижний скролл */
    overflow-x: hidden;/* для того чтобы анимация не давала нижний скролл */
}


a{
    display: inline-block;
    text-decoration: none;
    color: white;
}

ul,
li{
   list-style: none;
   margin: 0;
   padding: 0;
}

.container{
 max-width: 1920px;
 margin: 0 auto;
}

.headline-left{
    /* font-weight: 400; - можно не писать тк прописано уже в body*/
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    color: #FFFFFF;
    opacity: 0.5;/* Определяет уровень прозрачности элемента веб-страницы. При частичной или полной прозрачности через элемент проступает фоновый рисунок или другие элементы */
    padding-left: 103px;/* 80+23=103 делаем внутренний отступ для линии слева */ 
    position: relative; 
    display: inline-block;
    &::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }  
}

.headline-right{
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    color: #FFFFFF;
    opacity: 0.9;/* Определяет уровень прозрачности элемента веб-страницы. При частичной или полной прозрачности через элемент проступает фоновый рисунок или другие элементы */
    padding-right: 103px;/* 80+23=103 делаем внутренний отступ для линии слева */ 
    position: relative; 
    display: inline-block;
    &::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 150px;
        top: 20%;
    }  
}

.headline__right-shop{/* прописал отдельно для секции шоп тк сьезжала линия хз почему */
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    color: #FFFFFF;
    opacity: 0.9;
    padding-right: 103px;
    position: relative;
    display: inline-block;
    &::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 110px;
        top: 14px;
    }  
}

.title{
    div{
        font-weight: 800;
        font-size: 200px;
        color: rgba(#fff, .02);
        /* если оставить opacity то нельзя будет сделать h3 белым, поэтому зададим цвет через rgba сделаем сам цвет прозрачным */
        position: relative;
        transform: translateX(-50px);/* Сдвигает элемент относительно его исходного расположения на заданное значение по горизонтали. */
        display: inline-block;
    }
    span{
        display: inline-block;
    }
    h3{
        margin: 0;
        color: white;/* чтобы цвет заданный через rgba не наследовался */
        font-size: 80px;
        position: absolute;
        top: 0;
        right: -5px;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 1px;
            background-color: $green;
        }
    }
}

.subtitle{
    display: inline-block;
    text-align: right;
    &__head{
        font-weight: 800;
        font-size: 40px;
        padding-right: 10px;
        span{
            font-weight: 100;
        }        
    }
}

.descr{
    display: inline-block;
    padding-left: 5px;
    &__head{
        font-weight: 800;
        font-size: 40px;
        span{
            font-weight: 100;
        }        
    }
}

.btn{
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    span{
        padding: 17px 57px 15px 17px;
        background-color: $green;  
        display: inline-block;
        margin-left: 19px;
        position: relative;  
        &::before{
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        background-color: white;
        top: 50%;
        left: -10px;
        } 
        &::after{
        content: "";
        position: absolute;
        width: 25px;
        height: 21px;
        background-image: url(../img/arrows-right.svg);
        top: 50%;
        right: 17px;
        transform: translateY(-50%);
        /* стилим стрелку в кнопке */
        }  
    }    
}

.surf,
.holder{
    padding: 160px 0 120px;/* 210 изза разницы в отступах в секциях (270-160=120, у элементов слайдера картинок разница в 90 90+120=210) потом после того как слайды подвинулись вниз можно ставить как в макете 120 а нижней секции 160*/
}

.holder{
    padding-bottom: 265px;
    margin-bottom: 35px;
}

/* стили для счетчиков в слайдере в секции sleep взято из урока ч4 в code pen */
.quantity {
    display: inline-block;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]
  {
    -moz-appearance: textfield;
  }
  
  .quantity input {
    width: 45px;
    height: 42px;
    display: block;
    border: none;
    background-color: transparent;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    color: white;   
  }
  
  .quantity input:focus {
    outline: 0;
  }
  
  .quantity-nav {
    float: left;
    position: static;/* чтобы знак плюса  quantity-up был в позиции абсолют по отношению к родителю quantity-nav и сдвинулся не в своем элементе а дальше  */
    height: 42px;
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50px;
   /*  text-align: center;   
    transform: translateX(-100%);
    user-select: none; */ /* вставили картинку в js поэтому лишние стили убираем */
  }
  
  .quantity-button.quantity-up {
    position: absolute;
    height: 22%;
    /* border-bottom: 1px solid #eee; */  /* лишние параметры как и границу мы убираем тк вставили в main.js вместо символо + - картинки плюса и минуса  с макета */
    right: 0px;
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    /* bottom: -1px;
    height: 50%; */
    right: 25px;
  }


  .star-list{
    li{
        display: inline-block;
        & + li{
        margin-left: -25px;
      }
    }
  }

  