@media (max-width: 1440px) {
    .logo{
        img{
        width: 100px;
        }
    }
    .header__title{
        font-size: 130px;
        line-height: 108px;
        top: 20px;
        left: 60px;
    }
    .menu{/* если в коде например .menu прописан не внутри какого либо элемента то И ТУТ надо писать .menu не внутри элемента */
        padding-top: 10px;
    }
    .header__search{
        padding-bottom: 8px;
    }
    .header__date{
        font-size: 60px;
        span{
            font-size: 14px;
            padding-top: 0;
            margin-bottom: 5px;
        }
    }
    .header__arrows{
        left: 130px;
    }
    .surf-box__inner{
        min-height: 650px;
    }
}

@media (max-width: 1366px) {
    .header__aside{
        position: absolute;
        border-right: none;
        height: 108px;
        padding-right: 25px;
        background-color: rgba(#fff, .1);
        text-align: left;
        display: flex;
    }
    .menu{
        padding-top: 0;
    }
    .menu__list{
        text-align: center;
       li{
       display: inline-block;
       }
       a{
        padding: 15px;
       }
    }
    .header__search{
        padding: 33px 15px 15px;
    }
    .header__date{
        padding: 15px;
    }
    .header__location{
        margin-top: 42px;
    }
    .slider-item__info-title{
        font-size: 65px;
    }
    .header__arrows{
        left: 25px;
        bottom: 20px;
    }
    .shop__slider-content{
        padding-left: 40px;
    }
    .shop__slider-price {
        margin-bottom: 30px;
    }
}

@media (max-width: 1340px){
    .header__map{
       svg{
           width: 500px;
           height: 250px;
       } 
    }
    .slaider-arrows {
        top: 25px;
        right: 15px;
    }
    .slaider-arrows__left {
        right: 51px;
    }
}


@media (max-width: 1287px){
    .slider-map .slick-list {
        overflow: hidden;
    }
    .slider-dots__circle{
        box-shadow: none;
    }
}


@media (max-width: 1250px){
    .slider-map{
        max-width: 1000px;
        min-height: 515px;
    }
    .slider-map .slick-list {
        min-height: 515px;
    }
    /* меняем расположение точек при разрешении экрана 1250 */
    .slider-dots--1{
        top: 266px;
        .slider-dots__content{
         transform: translateX(0);
         &::before{
             left: 0;
         }
       }
     }
     .slider-dots--2{
       top: 232px;
     }
     .slider-dots--3{
         top: 253px;
     }
     .slider-dots--4{
         top: 390px;
     }
     .slider-dots--5{
         top: 180px;
     }
     .slider-dots--6{
         top: 440px;
         left: -85px;
     }
     .slider-dots--7{
         top: 312px;
         left: -85px;    
     }
     .slider-dots--8{
         top: 397px;
     }
     .shop__slaider-inner {
        display: block;
    }
    .shop__slider-info {
        padding-top: 55px;
        padding-bottom: 50px;
    }
    .shop__slider {
        padding-left: 20px;
    }
    .surfboard__position--3 .surfboard-box__content {
        left: 60px;
    }
    .surfboard__position--3 .surfboard-box__content::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        background-color: #fff;
        right: auto;
        left: -32px;
        top: 50%;
    }
}

@media (max-width: 1150px){
    .holder-slider__descr {
        padding: 160px 0 0 20px;
    }
    .surf, .holder {
        padding: 70px 0 50px;
    }
}

@media (max-width: 1102px){
    .slider-map{
        background-image: none;
        max-width: 100%;
        min-height: 280px;
    }
    .slider-dots__circle{
        display: none;
    }
    .slider-dots__content{
        display: block;
        &::before{
            display: none;
        }
    }
    /* slider-dots родитель для  slider-dots__content(всплывающих окошек на карте*/
    .slider-dots{
        position: static;
    }
    .slider-map{
        .slick-list{
            min-height: 280px;
            overflow: hidden;/* управляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров. */
        }
    }
    .slick-track{
        min-height: 280px;
    }
    .slider-dots__content,
    .slider-dots--8 .slider-dots__content{
        transform: translateX(0);
    }
    .slider-dots__content{
        width: 285px;
        padding: 28px 31px 0 32px;
    }
    .slider-map .slick-current .slider-dots__content{
        background: rgba(#ccc,0.7); 
    }
}

@media (max-width: 1040px){
   .header__arrows{
       display: none;
   }
   .menu{
      background-color: #000;
      z-index: 22;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 16px;
      transform: translate(-100%);
      transition: all .3s;
      /* меню которое будет выскакивать */
      &.active{
        transform: translate(0%);
        /* то есть при клике на меню из трех линий будет выскакивать меню при клике еще пропадать */
      }
   }
   .menu-btn{
    display: flex;
   }
   .header__search{
       padding: 40px 15px 15px;
   }
   .slider-item__info{
       position: absolute;
       right: 20px;
       bottom: 17px;
       text-align: right;
   }
   .slider-item__info-text{
       font-size: 30px;
       line-height: 20px;
       margin-bottom: 15px;
   }
   .headline-left{
       font-size: 16px;
       line-height: 18px;
       padding-left: 65px;
   }
   .headline-right{
       font-size: 16px;
      /*  line-height: 18px; */
       padding-right: 65px;       
   }
   .slider-item__info-suptext{
       margin-bottom: 5px;
   }
   .headline-left::before,
   .headline-right::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    left: 115px;
    top: 15%;
   }
   .slider-item__info-title{
       font-size: 55px;
       line-height: 55px;
       margin-bottom: 20px;
       font-weight: 800;
   }
   .slider-dotshead{
       right: 0px;
       left: 10px;
       margin: 0 auto;
       bottom: 5px;
   }
   .dots-box{
       width: 125px;
   }
   .dots-box__number{
       font-size: 18px;
   }
   .dots-box__name{
       line-height: 18px;
   }
   .surf__subtitle{
       padding-right: 20px;
   }
   .holder-slider__info{
       display: block;
   }
   .holder-slider__info-subtitle{
       position: static;
       transform: rotate(0deg);
       height: auto;
       width: auto;
       text-align: left;
   }
   .holder-slider__info-item {
    min-height: auto;
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
  }
  .holder-slider__info-title {
    padding-left: 0px;
 }
 .holder-slider__descr {
    background-position: right -125px;
 }
 .holder{
     .title{
      span{
        padding-bottom: 0;
       }
     }
  }
  .quantity-button.quantity-up {
    left: 25px;
    right: auto;
 }
 .quantity-button.quantity-down {
    right: auto;
  }
  .sleep .holder-slider__descr {
    background-position: right 10px;
 } 
}



/* при разрешении ниже 750 нижний слайдер создает нижний скролл поэтому просто его вырубим */
@media (max-width: 960px) {
    .slider-dotshead{
        display: none;
    }
}


@media (max-width: 767px) {
    .surfboard-box__content{
        padding-left: 0;
        top: 35px;
        left: 0;
        width: 270px;
        &::before{
            display: none;
        }
    }
    .surfboard__position--1{
      .surfboard-box__content{
        left: -177px;
      }
   }
   .shop__extras {
    padding-left: 75px;
}
}

@media (max-width: 720px) {
  .title {
    span{
      font-size: 87px;
      padding-bottom: 80px;
      padding-left: 10px;
    }
  }
  .surf-slider .slaider-arrows {
    top: 20px;
 }
 .surf-slider{
     padding-top: 65px;
 }
 .holder-slider__head {
    min-height: 720px;
  }
}

@media (max-width: 680px){
    .shop__slider-content {
        display: block;
    }
    .shop__extras {
        padding-left: 0;
        padding-top: 35px;
    }
    .surfboard__position--1 {
        left: 175px;
    }
    .footer {
        text-align: center;
        padding: 100px 0 34px;
    }
}

@media (max-width: 640px){
    .holder-slider__descr{
        background-image: none !important;
    }
    .btn {
        font-size: 30px;
    }
    .holder-slider__descr .descr__head img {
        position: absolute;
        right: 199px;
        top: -26px;
    }
}


@media (max-width: 520px) {
    .headline-left {
        letter-spacing: 2.33333px;
    }
    .subtitle__head {
        font-size: 40px;
        padding-right: 0px;
    }
    .holder-slider__subtitle {
        padding: 100px 20px 0 0;
    }
    .descr__head {
        font-size: 32px;
    }  
}

@media (max-width: 460px) {
  .header__aside{
      display: block;
      text-align: center;
      padding-right: 0;
      height: 100vh;
  }
  .header__search{
      padding: 15px 0 5px;
  }
  .header__date{
      padding: 0;
      font-size: 50px;
      line-height: 45px;
      span{
          font-size: 12px;
      }
  }
  .header__location{
      margin-top: 0px;
  }
  .header__title{
      display: none;
  }
  .holder {
    background-size: 120px;
 }
 .shop__slider-content {
    padding-left: 0;
 }
 .surfboard__position--2 {
    left: 3px;
 }
 .surfboard__position--1 .surfboard-box__content {
    left: -146px;
 }
}

@media (max-width: 425px) {
    .slider-map  .slider-dots__content,
    .slider-map .slick-current .slider-dots__content {
        width: 250px;
        padding: 28px 15px 0 ;
    }
    .holder-slider__descr .descr__head .holder__star-list {
        position: static;
        margin-left: -15px;
    }
    .holder-slider__descr .descr__head.descr__head-sleep {
        padding-right: 0;
    }
}

@media (max-width: 374px) {
    .slider-map  .slider-dots__content,
    .slider-map .slick-current .slider-dots__content {
        display: block;
        width: 200px;
        padding: 28px 10px 0 ;
    }
    .shop__extras-box {
        text-align: center;
        margin-right: 30px;
    }
}